*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background-color: #222;
  color: beige;
  font-size: 17px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div{
  margin-bottom: 7px;
}

.input__div{
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: none;
  /* justify-content: space-between; */
}

.range{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: none;
  gap: 7px;
  width: 100%;
  margin-top: 17px;
  margin-bottom: 17px;
}

output{
  padding: 7px 10px;
  background: teal;
  color: #fff;
  border-radius: 10px 10px 100px 100px;
  font-weight: bold;
}

#range__slider{
  /* position: relative; */
  left: 3px;
  width: 235px;
  height: 10px;
  background: teal;
  -webkit-appearance: none;
  outline: none;
  border-radius: 4px;
}

#range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: teal;
  box-shadow: 0 0 2px #fff;
}

section{
  max-width: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  color: inherit;
  background-color: teal;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 7px 12px;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
  max-width: 100%;
  width: 100%;
}

h1{
  text-align: center;
  font-size: 22px;
  color: teal;
  margin-bottom: 20px;
  text-transform: uppercase;
}